/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 797px) {
	.modal-dialog {
		padding-top: 17%;
	}

	.auth-dialog img.google {
		max-width: 77px;
	}
}

/* Larger screens ----------- */
@media only screen 
and (min-width : 798px) {
	.modal-dialog {
		height: 35%;	
	}

	.auth-dialog img.google {
		max-width: 79px;
	}
}

.auth-dialog {
}

.auth-dialog img.img-btn {
	cursor: pointer;
	width: 100%;
	height: auto;
}

#pin {
	margin: 0 auto 0 auto;
}

img#captcha {
	max-width: 360px;
}

input#encodedKey {
	width: 100%;
	max-width: 360px;
}