/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 797px) {
	.credit {
		//max-height: 140px; 
		//width: 50px;
		font-size: 14px;
		max-height: 50px !important;
		padding: 1px 1px;
	}

	.credit img { 
		height: 45px; 
		width: 45px;
	} 

	#order-init div:nth-child(1) {
		padding-right: 1px;
	}
	#order-init div:nth-child(2) {
		padding: 0px 6px;
	}
	#order-init div:nth-child(3) {
		padding-left: 1px;
	}

	#short-search {
		background-color: #FFFCFC; 
		border-color: #FFFCFC;
		margin-top: -15px;
	}
	#short-search .panel-body {
		padding-bottom: 0px;
	}
	#short-search .hidden-sm{
		margin-top: -15px;
	}

	#short-search .btn{
		border-bottom-left-radius: 4px !important; 
		border-top-left-radius: 4px !important; 
	}

	.create-order-button {
		font-size: 14px;
	}
}

/* Larger screens ----------- */
@media only screen 
and (min-width : 798px) {
	#init-order {
		padding-top: 25%;
		padding-bottom: 20px;
	}

	.credit {
		max-height: 140px; 
		font-size: 54px;
	}

	.credit img { 
		height: 90%;
		width: 50%;
		margin-top: -7px;
	} 

	#short-search {
		background-color: #f1f4f6; 
		margin-top: -10px;
	}
	#short-search .panel-body {
		padding-top: 25px; 
		padding-bottom: 25px;
	}
}

#create-order-header {
	background-color: #f1f4f6; 
	margin-top: -10px;
}

#init-order {
	padding-bottom: 20px;
}

#order-attributes .row {
	padding-bottom: 7px;
}

.create-order-button {
	float: right; 
	margin-top: -26px;
	width: 100%;
}

.button-lg {
	//height: 8em !important;
	width: 100% !important;
}

.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

#order-buttons-container .row {
	padding-top: 30px;
	padding-bottom: 30px;
}

/*.select2-search-choice {
	background-image: linear-gradient(to top, #DFF2FF 20%, #DAF8FF 50%, #DAF0FF 52%, #DDF4FF 100%) !important;
}*/

.select2-search-choice {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	//background-color: #428bca !important;
	background-image: none !important;
	//color: #fff !important;
	//border: 1px solid #428bca !important;
	font-size: 85% !important;
}

/*.select2-search-choice-close {
	display: block !important;
	width: 12px !important;
	height: 13px !important;
	position: absolute !important;
	right: 3px !important;
	top: 4px !important;
	font-size: 1px !important;
	outline: none !important;
}*/

.ui-dropdown-button {

	//overflow: hidden;
	//line-height: 30px;
	//white-space: nowrap;
}
/*.ui-dropdown-button button {
	max-width: 130px;
}*/

#taking-currency .ui-dropdown-button button {
	max-width: 130px;
}
#giving-currency .ui-dropdown-button button {
	max-width: 130px;
}

#orderDataEditable {
	min-height: 30px;
	border: 1px double #ecf2f2;
	border-radius: 4px;
}

span.center {
	margin-left: auto;
	margin-right: auto;
}

.dropdown-input {
	border: 1px solid #adadad !important;
	margin-left: 2px;
	margin-right: 2px;
}

.credit-row {
	color: #000;
	background-color: #ECB2BB;
	border: 1px solid #f8f8f8;
}
.credit-row:hover {
	background-color: #ECB2BB;
	border: 1px solid #adadad;
}
.credit-row.active {
	color: #fff;
	background-color: #d9534f;
	border: 1px solid #adadad;
}
#select2-drop .credit-row:hover {
	background-color: #3875d7;
}
.borrow-row {
	color: #000;
	background-color: #A1DDA1;
	border: 1px solid #f8f8f8;
}
.borrow-row:hover {
	background-color: #A1DDA1;
	border: 1px solid #adadad;
}
.borrow-row.active {
	color: #fff;
	background-color: #5cb85c;
	border: 1px solid #adadad;
}
#select2-drop .borrow-row:hover {
	background-color: #3875d7;
}
.exchange-row {
	color: #000;
	background-color: #E4E4E4;
	border: 1px solid #f8f8f8;
}
.exchange-row:hover {
	background-color: #E4E4E4;
	border: 1px solid #E4E4E4;
}
.exchange-row.active {
	color: #fff;
	background-color: #C9C5C5;
	border: 1px solid #adadad;
}
#select2-drop .exchange-row:hover {
	background-color: #3875d7;
}

.table-row {

}

.table-status-button {
	position: inherit;
	float: right;
	margin-top: -43px;
	margin-right: 5px;
}

.one-line {
	overflow: hidden;
	white-space: nowrap;
}

.sliding-panel {
	padding: 2px;
	width: 450px;
	background-color: #eeeeee !important;
	border: 1px solid rgb(167, 167, 167);
	font-family: Georgia;
	border-radius: 3px;
}

.handle {
	right: -40px !important;
}