/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 797px) {
	.credit img { 
		height: 100px; 
		width: 100px;
	} 
}

/* Larger screens ----------- */
@media only screen 
and (min-width : 798px) {
	#init-order {
		padding-top: 25%;
		padding-bottom: 20px;
	}

	.credit img { 
		height: 100%; 
		width: 50%;
	} 
}

#init-order {
	padding-bottom: 20px;
}

.button-lg {
	height: 8em !important;
	width: 100% !important;
}

