<div class="modal-header">
	<h4>Change user photo</h4>
</div>
<div class="modal-body" id="user-photo-dialog">
	<div class="container-fluid">
		<div class="row">	
			<div class="col-xs-12 col-md-12">
				<div class="browse-button btn btn-default">
					Open
					<input type="file" name="file" ng-file-select="onFileSelect($files)" >
				</div>
				<button class="btn btn-default" style="float: right" ng-click="deletePhoto()">Delete</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<b>Preview:</b>
 
				<div id="no-image" ng-hide="imageSrc">No image choosed</div>
				<img id="user-photo-change" ng-hide="!imageSrc" width="100%" ng-src="{{imageSrc}}" /><br/>
			</div>
		</div>
		<div class="row" ng-hide="!imageSrc">
			<div class="col-xs-12 col-md-12">
				<button class="btn btn-default" ng-click="save()">Save</button>
			</div>
		</div>
		
	</div>
</div>
