<div class="panel-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1 col-md-2"></div>
			<div class="col-xs-10 col-md-8" id="order-attributes">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Category:
						</div>
						<div class="col-xs-7 col-md-8" ng-class="{'has-success': orderCreatingMap['orderCategories'] && (orderCreatingMap['orderCategories'].length !== 0), 'has-error': !orderCreatingMap['orderCategories'] || (orderCreatingMap['orderCategories'].length === 0)}">
							<input type="hidden" class="form-control" ui-select2="categorySelect2Options" ng-model="orderCreatingMap
									['orderCategories']" id="category" data-placeholder="Pick a category" style="width: 100%" ng-change="isValidOrder()"/>
						</div>
					</div>
					<!--div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Languages:
						</div>
						<div class="col-xs-7 col-md-8" ng-class="{'has-success': orderCreatingMap['orderLanguages'] && (orderCreatingMap['orderLanguages'].length !== 0), 'has-error': !orderCreatingMap['orderLanguages'] || (orderCreatingMap['orderLanguages'].length === 0)}">
							<input type="hidden" class="form-control" ui-select2="languageSelect2Options" ng-model="orderCreatingMap
									['orderLanguages']" id="order-language" data-placeholder="Pick a language" style="width: 100%" ng-change="isValidOrder()"/>
						</div>
					</div-->
					<div class="row">

						<div class="col-xs-4 col-md-3 title-edit">
							Take:
						</div>
						<div class="col-xs-4 col-md-5" ng-hide="takeCurrencyHiden">
							<div id='take-input' class="form-control masked-input-jqx has-success">
							</div>
						</div>
						<div class="col-xs-3 col-md-3">
							<div id="take-currency-type" class="form-control input-jqx"></div>
						</div>

					</div>	
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Give:
						</div>
						<div class="col-xs-4 col-md-5" ng-hide="giveCurrencyHiden">
							<div id='give-input' class="form-control masked-input-jqx">
							</div>
						</div>
						<div class="col-xs-3 col-md-3">
							<div id="give-currency-type" class="form-control input-jqx"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Duration:
						</div>
						<div class="col-xs-4 col-md-5">
							<div id='duration-input' class="form-control masked-input-jqx">
							</div>
						</div>
						<div class="col-xs-3 col-md-3">
							<div id="duration-type" class="form-control input-jqx"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Booking deadline:
						</div>
						<div class="col-xs-7 col-md-8" id="booking-deadline" ng-class="{'has-success': isValidDateInput(), 'has-error': !isValidDateInput()}">
							<input type="text" id="deadline" class="form-control" validate="isValidOrder()" date-time-picker placeholder="Pick a booking deadline" readonly="readonly"/>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Description:
						</div>
					</div>
					<div class="row">
						<div id="orderDataEditable"  contenteditable="true" class="ckeditor-area" ng-blur="isValidOrder()">
						</div>
					</div>

					<div class="row" style="margin-top: 30px;">
						<button class="btn btn-success create-order-button" type="button" ng-click="createOrder()" ng-disabled="!createOrderButtonEnabled">
							Create order
						</button>
					</div>

				</div>
			</div>
			<div class="col-xs-1 col-md-2"></div>
		</div>
	</div>
</div>
