<div class="row" ng-click="editItems()" style="cursor:pointer;"> <!--ng-hide="(edited === false) && (!links || links.length === 0)"-->
	<div class="col-xs-7 col-md-3" style="margin-top: 3px;cursor:pointer;">{{title}}</div>
</div>
<div class="row"><!-- ng-hide="(edited === false) && (!links || links.length === 0)"-->
	<div class="col-xs-12 col-md-12"><hr></div>
</div>
<!--iframe width="560" height="315" 
            ng-src="{{ youtubeURL }}" 
            frameborder="0" allowfullscreen>
    </iframe-->
<div id="user-links" class="row">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-12 col-md-12">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row" ng-hide="type !== 'video'">
					<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="linkItem in links">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-12" ng-hide="!(type === 'video' && !linkItem.title && !linkItem.edited)">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-12 col-md-12" title="{{linkItem.title}}" ng-hide="edited">
												<!--embed width="100%" height="60%" embed-src="{{linkItem.link}}" style="max-height: 120px;"-->
												<p style="text-align:center" id="video-container" class="h_iframe">
													<a ng-href="{{linkItem.link}}"><img class="ratio" src="http://www.turn.com/sites/default/files/video_icon_0.png"/></a>
													<iframe class="hidden-sm hidden-xs" width="100%" height="100%" embed-src="{{linkItem.link}}" frameborder="0" allowfullscreen></iframe>
												</p>
											</div>
											<div class="col-xs-9 col-md-10" title="{{linkItem.title}}" ng-hide="!edited">
												<!--embed width="100%" height="60%" embed-src="{{linkItem.link}}" style="max-height: 120px;"-->
												<p style="text-align:center" id="video-container" class="h_iframe">
													<img class="ratio" src="http://www.turn.com/sites/default/files/video_icon_0.png"/>
													<iframe class="hidden-sm hidden-xs" width="100%" height="100%" embed-src="{{linkItem.link}}" frameborder="0" allowfullscreen></iframe>
												</p>
											</div>
											<div class="col-xs-3 col-md-1" ng-hide="edited !== true">
												<button class="btn btn-default" type="button" ng-click="removeLink(linkItem.id)" style="margin-left: -17px;"> 
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</div>
										</div>
										<!--div class="row">
											<div class="col-xs-3 col-md-1 navbar-right" ng-hide="edited !== true">
												<button class="btn btn-default" type="button" ng-click="removeLink(linkItem.id)">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</div>
										</div-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row" ng-hide="type === 'video'">
					<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="linkItem in links">
						<div class="container-fluid">
							<div class="row">

								<div ng-hide="!(type === 'social-link' && linkItem.title && !linkItem.edited)" ng-class="{'col-xs-10 col-sm-10 col-md-10': edited, 'col-xs-12 col-sm-12 col-md-12': !edited}">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-10 col-md-10 link-item"><a href="{{linkItem.link}}">{{linkItem.title}}</a></div>
										</div>
									</div>
								</div>

								<div ng-hide="!(((type === 'social-link') || (type === 'name')) && !linkItem.title && !linkItem.edited)" ng-class="{'col-xs-10 col-sm-10 col-md-10': edited, 'col-xs-12 col-sm-12 col-md-12': !edited}">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-10 col-md-10 link-item"><a href="{{linkItem.link}}">{{linkItem.link}}</a></div>
										</div>
									</div>
								</div>

								<div class="col-xs-2 col-md-1" ng-hide="edited === false">
									<div class="navbar-right">		
										<button class="btn btn-default" type="button" style="float: right;" ng-click="removeLink(linkItem.id)" ng-hide="type === 'video'">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>




				<!--div class="row" ng-repeat="linkItem in links" ng-hide="type === 'video'">
					<div class="col-xs-4 col-md-4" ng-hide="!(type === 'social-link' && linkItem.title && !linkItem.edited)">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-4 col-md-4 link-item"><a href="{{linkItem.link}}">{{linkItem.title}}</a></div>
							</div>
						</div>
					</div>

					<div class="col-xs-4 col-md-4" ng-hide="!(((type === 'social-link') || (type === 'name')) && !linkItem.title && !linkItem.edited)">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-4 col-md-4 link-item"><a href="{{linkItem.link}}">{{linkItem.link}}</a></div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-8" ng-hide="!(type === 'phone' && linkItem.title && !linkItem.edited)">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-5 col-md-6 link-item title-item">{{linkItem.title}}</div><div class="col-xs-7 col-md-6">{{linkItem.link}}</div>
							</div>
						</div>
					</div>
					<div class="col-xs-8 col-md-8" ng-hide="!(type === 'phone' && !linkItem.title && !linkItem.edited)">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-6 col-md-6"></div><div class="col-xs-6 col-md-6 link-item">{{linkItem.link}}</div>
							</div>
						</div>
					</div>


					<div class="col-xs-4 col-md-4"  ng-hide="!((linkItem.edited === true) && (edited === true) && (type !== 'name'))">
						<input type="text"  class="form-control" placeholder="Title" ng-model="linkItem.title"/>
					</div>
					<div class="col-xs-8 col-md-8"  ng-hide="!((linkItem.edited === true) && (edited === true) && (type === 'name'))" ng-class="{'has-success': isValidItem(linkItem, true), 'has-error': !isValidItem(linkItem, true)}">
						<input type="text" id="{{linkItem.id}}"  class="form-control" placeholder="{{itemPlaceholder}}" ng-model="linkItem.link"/>
					</div>
					<div class="col-xs-4 col-md-4" ng-hide="type !== 'name'"></div>

					<div class="col-xs-1 col-md-1" ng-hide="edited === false">
						<div class="navbar-right">
				<!--button class="btn btn-default" type="button" ng-click="editLink(linkItem.id)" ng-hide="type === 'video'">
					<span class="glyphicon glyphicon-pencil"></span>
				</button-->






				<!--button class="btn btn-default" type="button" style="float: right;" ng-click="removeLink(linkItem.id)" ng-hide="type === 'video'">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>

		</div>
	</div-->

				<div class="row" ng-hide="edited === false || links.length > 7">
					<div class="col-xs-12 col-sm-6 col-md-6" ng-hide="(type === 'video') || (type === 'name')" style="padding-bottom: 3px;">
						<input type="text" class="form-control" placeholder="Title" ng-model="newLink.title" />
					</div>
					<div class="col-xs-10 col-sm-5 col-md-5" ng-hide="(type === 'video')" ng-class="{'has-success': isValidItem(newLink), 'has-error': !isValidItem(newLink)}">
						<input type="text" id="input-{{type}}" class="form-control" ng-required="true" placeholder="{{itemPlaceholder}}" ng-model="newLink.link"/>
					</div>
					<div class="col-xs-10 col-sm-11 col-md-11" ng-hide="(type !== 'video') && (type !== 'name')" ng-class="{'has-success': isValidItem(newLink), 'has-error': !isValidItem(newLink)}">
						<input type="text" id="input-{{type}}" class="form-control" ng-required="true" placeholder="{{itemPlaceholder}}" ng-model="newLink.link"/>
					</div>
					<div class="col-xs-2 col-sm-1 col-md-1">
						<div class="navbar-right">
							<button class="btn btn-default" style="float: right;" type="button" ng-click="addLink()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-1 col-md-1"></div>
</div>
