<div class="panel-body">
	<div class="container-fluid">
		<div class="row ng-hide" ng-show="edit">
			<div class="col-xs-12 col-md-12">
				<alert type="'warning'"><h4 style="margin-bottom: 0px;">User photo size should be greater than 400x300 and less than 2000x2000 and have type JPG.</h4></alert>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-md-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="img-thumbnail" style="min-width: 150px;" >
								<img id='user-photo' src="{{userPhotoSrc}}" width="100%" ng-if="!editUserPhoto"/>
								<img id="user-photo-change" ng-hide="!imageSrc" width="100%" ng-src="{{imageSrc}}" />
							</div>
						</div>
						<div class="col-xs-12 col-md-12" style="padding-top: 1px; min-width: 180px;">
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{summaryRating}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : (summaryRating + '%') }">
									<span style="color: #d58512; overflow: hidden; white-space: nowrap; padding-left: 3px;"> Rating: {{summaryRating}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-12" style="min-width: 180px; margin-top: -19px; padding-bottom: 10px;">
							<div class="browse-button btn btn-default col-xs-6 col-md-6" ng-if="isCurrentUser && !editUserPhoto && edit">
								<span class="glyphicon glyphicon-refresh"></span>
								<input type="file" name="file" ng-file-select="onFileSelect($files)" >
							</div>
							<button class="btn btn-default col-xs-6 col-md-6" ng-hide="!(isCurrentUser && !editUserPhoto && edit)" style="float: right" ng-click="deleteUserPhoto()"><span class="glyphicon glyphicon-remove-circle"></span></button>
							<button class="btn btn-default col-xs-6 col-md-6" ng-hide="!editUserPhoto" ng-click="saveUserPhoto()"><span class="glyphicon glyphicon-ok"></span></button>
							<button class="btn btn-default col-xs-6 col-md-6" ng-hide="!editUserPhoto" style="float: right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</div>
					<div class="row ng-hide" ng-show="showUserPhotoError" style="">
						<div class="col-xs-12 col-md-12">
							<alert type="'danger'" close="showUserPhotoError = false"><h4 style="margin-bottom: 0px;">{{photoErrorMessage}}</h4></alert>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-9" style="padding-bottom: 5%;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6 col-md-9 " ng-if="!edit">
							<h4>{{userPropertiesMap['name']}}</h4>
						</div>

						<div class="col-xs-6 col-md-8" ng-if="edit">
							<input type="text" id="name" class="form-control" ng-model="userPropertiesMap
								['name']" placeholder="Name" maxlength="20"/>
						</div>

						<div class="col-xs-6 col-md-3"  ng-hide="!isCurrentUser">
							<div class="navbar-right col-xs-offset-9">
								<button class="btn btn-default" ng-disabled="disabledEditButton" ng-click="editProfile()" ng-hide="edit"><span class="glyphicon glyphicon-edit"></span></button>
							</div>
						</div>

						<div class="col-xs-4 col-md-3 navbar-right" ng-hide="!isCurrentUser">
							<div class="input-group navbar-right" ng-hide="!edit">
								<span class="btn-group">
									<button class="btn btn-default" ng-disabled="disabledEditButton" ng-click="savePersonalPage()"><span class="glyphicon glyphicon-save"></span></button>
									<button class="btn btn-default" ng-disabled="disabledEditButton" ng-click="editProfile()"><span class="glyphicon glyphicon-edit"></span></button>
								</span>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12"><hr></div>
					</div>

					<div id="user-attributes" class="row col-xs-offset-0">
						<div class="container-fluid">
							<div class="row" ng-if="(!edit && userPropertiesMap['mail']) || edit">

								<div class="col-xs-4 col-md-2 title" ng-if="!edit && userPropertiesMap['mail']">
									Mail:
								</div>
								<div class="col-xs-7 col-md-8" ng-if="!edit && userPropertiesMap['mail']">
									{{userPropertiesMap['mail']}}
								</div>

								<div class="col-xs-4 col-md-3 title-edit" ng-hide="!edit">
									Mail:
								</div>
								<div class="input-group col-xs-7 col-md-8" ng-hide="!edit">
									<input type="email" id="mail" ng-model="userPropertiesMap
										['mail']" class="form-control" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="changeVisible('mailEnabled')">
											<span class="glyphicon glyphicon-eye-{{userPropertiesMap['mailEnabled']}}"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="row" ng-if="(!edit && userPropertiesMap['phone']) || edit">

								<div class="col-xs-4 col-md-2 title" ng-if="!edit && userPropertiesMap['phone']">
									Phone:
								</div>
								<div class="col-xs-7 col-md-8" ng-if="!edit && userPropertiesMap['phone']">
									{{userPropertiesMap['phone']}}
								</div>

								<div class="col-xs-4 col-md-3 title-edit" ng-hide="!edit">
									Phone:
								</div>
								<div class="input-group col-xs-7 col-md-8" ng-hide="!edit">
									<input type="text" id="phone" ng-model="userPropertiesMap
										['phone']" class="form-control masked-input-jqx" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="changeVisible('phoneEnabled')">
											<span class="glyphicon glyphicon-eye-{{userPropertiesMap['phoneEnabled']}}"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="row" ng-if="(!edit && userPropertiesMap['languages']) || edit">

								<div class="col-xs-4 col-md-2 title" ng-if="!edit && userPropertiesMap['languages']">
									Languages:
								</div>
								<div class="col-xs-7 col-md-8" ng-if="!edit && userPropertiesMap['languages']">
									{{userPropertiesMap['languagesStr']}}
								</div>
								<div class="col-xs-4 col-md-3 title-edit" ng-hide="!edit">
									Languages:
								</div>
								<div class="input-group col-xs-7 col-md-8" ng-hide="!edit">
									<input type="hidden" class="form-control" ui-select2="languageSelect2Options" ng-model="userPropertiesMap['languages']" id="order-language" data-placeholder="Pick a language" style="width: 100%" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="changeVisible('languagesEnabled')">
											<span class="span-jqx glyphicon glyphicon-eye-{{userPropertiesMap['languagesEnabled']}}"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="row" ng-if="(!edit && userPropertiesMap['currencies']) || edit">

								<div class="col-xs-4 col-md-2 title" ng-if="!edit && userPropertiesMap['currencies']">
									Currencies:
								</div>
								<div class="col-xs-7 col-md-8" ng-if="!edit && userPropertiesMap['currencies']">
									{{userPropertiesMap['currenciesStr']}}
								</div>

								<div class="col-xs-4 col-md-3 title-edit" ng-hide="!edit">
									Currencies:
								</div>
								<div class="input-group col-xs-7 col-md-8" ng-if="edit">
									<input type="hidden" class="form-control" ui-select2="currenciesSelect2Options" ng-model="userPropertiesMap['currencies']" id="currency" data-placeholder="Pick a currency" style="width: 100%" />
									<!--input type="text" id="currencies" class="form-control input-jqx" ng-model="currencies" ng-change="editCurrencies"/-->
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="changeVisible('currenciesEnabled')">
											<span class="span-jqx glyphicon glyphicon-eye-{{userPropertiesMap['currenciesEnabled']}}"></span>
										</button>
									</span>

								</div>

							</div>		

							<!--div id="currency-range" class="row" ng-class="{'invisible': !currency || !edit}">
								<div class="col-xs-4 col-md-3 title-edit" ng-if="edit">
									Range:
								</div>
								<div class="col-xs-7 col-md-8">
									<div id='priceSlider' style="position: relative; width: 100%"></div>
									<div style="float: left">{{currency.startValue}} {{currency.code}}</div> 
									<div style="float: right">{{currency.endValue}} {{currency.code}}</div> 							 
								</div>

							</div-->
							<div class="row" ng-if="edit">

								<div class="col-xs-6 col-md-3 title-edit" ng-if="edit">
									Personal Data:
								</div>
								<div class="col-xs-5 col-md-8" ng-if="edit">

									<button class="btn btn-default" style="float: right; margin-right: -15px;" type="button" ng-click="changeVisible('personalDataEnabled')">
										<span class="glyphicon glyphicon-eye-{{userPropertiesMap['personalDataEnabled']}}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12"><hr></div>
					</div>
					<div class="row col-xs-offset-0">Openness: {{ratingOpenness}}	</div>
					<div class="row col-xs-offset-0">Transactions: {{ratingTransactions}}</div>
					<div class="row col-xs-offset-0">Orders sum: {{ordersSumValue}}</div>
					<div class="row col-xs-offset-0">Transactions sum: {{transactionsSum}}</div>
					<div class="row col-xs-offset-0">Success transactions sum: {{successTransactionsSum}}</div>
					<div class="row col-xs-offset-0">All transactions sum: {{allTransactionsSum}}</div>
					<div class="row col-xs-offset-0">All success transactions sum: {{allSuccessTransactionsSum}}</div>
				</div>
			</div>
		</div>

		<div class="row" id="addition-attributes">
			<div class="col-xs-12 col-md-12">
				<div class="container-fluid">
					<div class="row" ng-hide="!userPropertiesMap['personalData'] && !edit">
						<div class="col-xs-7 col-md-3" style="margin-top: 1px;">Personal info</div>
					</div>
					<div class="row" ng-hide="!userPropertiesMap['personalData'] && !edit">
						<div class="col-xs-12 col-md-12"><hr></div>
					</div>
					<div class="row" style="padding-bottom: 5px;">
						<div class="col-xs-12 col-md-12">
							<div id="personalEditable" ng-hide="!edit"  contenteditable="true" class="ckeditor-area">
							</div>
							<div id="personalNotEditable" ng-hide="edit" ng-bind-html="userPropertiesMap['personalData']">
							</div>
						</div>
					</div>
					<div class="row" style="padding-bottom: 15px;">
						<div class="col-xs-3 col-md-3 navbar-right"  ng-hide="!isCurrentUser">			
							<div class="navbar-right" >
								<button class="btn btn-default" ng-hide="!edit" ng-disabled="disabledEditButton" ng-click="savePersonalPage()"><span class="glyphicon glyphicon-save"></span></button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-3 col-md-3 navbar-right"  ng-hide="!isCurrentUser">
							<button class="btn btn-default navbar-right" ng-disabled="disabledEditButton" ng-click="editAdditionalProfile()" ng-hide="editAdditional"><span class="glyphicon glyphicon-edit"></span></button>

							<div class="input-group navbar-right" ng-hide="!editAdditional">
								<span class="btn-group">
									<button class="btn btn-default" ng-disabled="disabledEditButton" ng-click="saveAdditionalData()"><span class="glyphicon glyphicon-save"></span></button>
									<button class="btn btn-default" ng-disabled="disabledEditButton" ng-click="editAdditionalProfile()"><span class="glyphicon glyphicon-edit"></span></button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="container-fluid">
								<links-list links="userPropertiesMap['socialLinks']" type="'social-link'" save-data="updateProfile()" current="userPropertiesMap['isCurrentUser']" edited="editAdditional"></links-list>
								<links-list links="userPropertiesMap['phones']" type="'phone'" save-data="updateProfile()" current="userPropertiesMap['isCurrentUser']" edited="editAdditional"></links-list>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="container-fluid">
								<div class="row" style="padding-bottom: 25px;">
									<div class="col-xs-1 col-md-1" style="margin-bottom: -26px; margin-top: 17px;" ng-hide="!editAdditional"><input type="checkbox" ng-model="userPropertiesMap['passportEnabled']"></div>
									<div class="col-xs-11 col-md-7" style="margin-bottom: -26px; margin-top: 17px;" ng-hide="userPropertiesMap['passportEnabled'] === false">Ready to show passport</div>
									<div class="col-xs-11 col-md-7" style="margin-bottom: -26px; margin-top: 17px;" ng-hide="userPropertiesMap['passportEnabled'] !== false">Not ready to show passport</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12"><hr></div>
								</div>
							</div>
						</div>
					</div>
					<links-list links="userPropertiesMap['videos']" type="'video'" save-data="updateProfile()" current="userPropertiesMap['isCurrentUser']" edited="editAdditional"></links-list>
					<links-list links="userPropertiesMap['names']" type="'name'" save-data="updateProfile()" current="userPropertiesMap['isCurrentUser']" edited="editAdditional"></links-list>

					<div class="row" ng-hide="!userPropertiesMap['bkiData'] && !editAdditional">
						<div class="col-xs-8 col-md-3" style="margin-top: 10px;">Сredit history</div>
					</div>
					<div class="row" ng-hide="!userPropertiesMap['bkiData'] && !editAdditional">
						<div class="col-xs-12 col-md-12"><hr></div>
					</div>

					<div class="row" style="padding-bottom: 5px;">
						<div class="col-xs-12 col-md-12">
							<div id="bkiEditable" ng-hide="!editAdditional" contenteditable="true" class="ckeditor-area">
							</div>
							<div id="bkiNotEditable" ng-hide="editAdditional" ng-bind-html="userPropertiesMap['bkiData']">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-3 col-md-3 navbar-right"  ng-hide="!isCurrentUser">			
							<div class="navbar-right" >
								<button class="btn btn-default" ng-hide="!editAdditional" ng-disabled="disabledEditButton" ng-click="saveAdditionalData()"><span class="glyphicon glyphicon-save"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

