<div class="panel-body">
	<div class="row">
		<div id="user-header"></div>

		<div class="col-xs-3 col-md-3">
			<div style="border-color: red; border-radius: 5px;">
				<div id="user-photo" class="img-thumbnail"></div>
			</div>

		</div>
		<div class="col-xs-9 col-md-9">
			<div class="row">
				<div class="col-xs-9 col-md-10">
					<h4 ng-if="!edit">{{userProfile.firstName}} {{userProfile.lastName}}</h4>
					<div class="col-xs-12 col-md-12 " ng-if="edit">
						<div class="col-xs-6 col-md-6">
							<input type="text" class="form-control" ng-model="userProfile.firstName" maxlength="20"/>
						</div>
						<div class="col-xs-6 col-md-6">
							<input type="text" class="form-control col-xs-6 col-md-6" ng-model="userProfile.lastName" maxlength="30"/>
						</div>
					</div>



				</div>
				<div class="col-xs-3 col-md-2" ng-if="isCurrentUser">
					<button class="btn btn-default navbar-right" ng-click="editProfile()"><span class="glyphicon glyphicon-edit"></span></button>
				</div>
			</div><hr>

			<div id="user-attributes">

				<div class="row" ng-if="!edit">
					<div class="col-xs-12 col-md-12">
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{userProfile.rating}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : (userProfile.rating + '%') }">
								Rating: {{userProfile.rating}}
							</div>
						</div>
					</div>



				</div>
				<div class="row">
					<div ng-if="!edit && userProfile.country">
						<div class="col-xs-2 col-md-2 title">
							Country:
						</div>
						<div class="col-xs-8 col-md-8">
							{{userProfile.country}}
						</div>
					</div>
					<div ng-if="edit">
						<div class="col-xs-2 col-md-2 title">
							Country:
						</div>
						<div class="input-group col-xs-9 col-md-9">
							<input type="text" ng-model="userProfile.country" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="logout()">
									<span class="glyphicon {{}}"></span>
								</button>
							</span>

						</div>
					</div>

				</div>
				<div class="row">
					<div ng-if="!edit && userProfile.city">
						<div class="col-xs-2 col-md-2 title">
							City:
						</div>
						<div class="col-xs-8 col-md-8">
							{{userProfile.city}}
						</div>
					</div>
					<div ng-if="edit">
						<div class="col-xs-2 col-md-2 title">
							City:
						</div>
						<div class="input-group col-xs-9 col-md-9">
							<input type="text" ng-model="userProfile.city" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="logout()">
									<span class="glyphicon {{}}"></span>
								</button>
							</span>

						</div>
					</div>
				</div>
				<div class="row">
					<div ng-if="!edit && userProfile.city">
						<div class="col-xs-2 col-md-2 title">
							Age:
						</div>
						<div class="col-xs-8 col-md-8">
							{{userProfile.age}}
						</div>
					</div>	
					<div ng-if="edit">
						<div class="col-xs-2 col-md-2 title">
							Age:
						</div>
						<div class="input-group col-xs-9 col-md-9">
							<input type="number" ng-model="userProfile.age" class="form-control" max="100"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="logout()">
									<span class="glyphicon {{}}"></span>
								</button>
							</span>

						</div>
					</div>
				</div>
				<div class="row">
					<div ng-if="!edit && userProfile.hobby">
						<div class="col-xs-2 col-md-2 title">
							Hobby:
						</div>
						<div class="col-xs-8 col-md-8">
							{{userProfile.hobby}}
						</div>
					</div>	
					<div ng-if="edit">
						<div class="col-xs-2 col-md-2 title">
							Hobby:
						</div>
						<div class="input-group col-xs-9 col-md-9">
							<input type="text" ng-model="userProfile.hobby" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="logout()">
									<span class="glyphicon {{}}"></span>
								</button>
							</span>

						</div>
					</div>
				</div>
				<div class="row" ng-if="userProfile.gender">
					<div class="col-xs-2 col-md-2 title">
						Gender:
					</div>
					<div class="col-xs-8 col-md-8">
						{{userProfile.gender}}
					</div>
				</div>
			</div>
		</div>

	</div>






	<!--div class="bs-example">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div-->












</div>
