<div class="panel-body">
	<div class="container-fluid">
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-1"></div>
			<div class="col-xs-12 col-md-10">
				<div class="container-fluid">
					<div class="row">
						<div class="hidden-xs hidden-sm col-md-1">
							<button class="btn btn-default btn-lg max-width" style="width: 60px;" type="button" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
						</div>
						<div class="hidden-xs hidden-sm col-md-2"></div>
						<div class="col-xs-12 col-md-9">								
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-default btn-lg credit-row" ng-class="{'active': !isBorrowInit}">
									<input type="radio" name="year" value="0" ng-click="creditInit()" checked="checked"><span class="hidden-xs hidden-sm">Беру</span><span class="hidden-md hidden-lg glyphicon glyphicon-arrow-left center"></span>
								</label>
								<label class="btn btn-default btn-lg exchange-row" ng-class="{'active': isBorrowInit && isCreditInit}">
									<input type="radio" name="year" value="1" ng-click="exchangeInit()"><span class="hidden-xs hidden-sm">Меняю</span><span class="hidden-md hidden-lg glyphicon glyphicon-transfer center"></span>
								</label>
								<label class="btn btn-default btn-lg borrow-row" ng-class="{'active': !isCreditInit}">
									<input type="radio" name="year" value="2" ng-click="borrowInit()"><span class="hidden-xs hidden-sm">Даю</span><span class="hidden-md hidden-lg glyphicon glyphicon-arrow-right center"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-1"></div>
		</div>
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-1"></div>
			<div class="col-xs-12 col-md-10"><hr></div>
			<div class="hidden-xs hidden-sm col-md-1"></div>
		</div>
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-1"></div>
			<div class="col-xs-12 col-md-10" id="order-attributes">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit" style="font-size: 13px;">
							Видимость заявки:
						</div>
						<div class="col-xs-8 col-md-9" ng-class="{'has-success': deadline && (deadline.length !== 0), 'has-error': !deadline || (deadline.length === 0)}">
							<input type="date" id="deadline" ng-model="deadline" class="form-control input-sm" ng-change="isValidOrder()">
						</div>
					</div>
					<div class="row" ng-if="!isBorrowInit || (isBorrowInit && isCreditInit)">

						<div class="col-xs-4 col-md-3 title-edit">
							Беру:
						</div>

						<div class="col-xs-8 col-md-9" ng-if="currency.selectedTakingCurrency">
							<ui-dropdown on-enter="" is-dropdown-input="true" element-id="'taking-order-currency'" on-change-input="isValidOrder()" data-dropdown-data="allCurrencies" preselected-item="currency.selectedTakingCurrency" input-value="takingValue" placeholder="'Беру'"></ui-dropdown>
						</div>

					</div>	
					<div class="row" ng-if="!isBorrowInit">
						<div class="col-xs-4 col-md-3 title-edit">
							Даю:
						</div>
						<div class="col-xs-8 col-md-9" ng-if="currency.selectedGivingCurrency">
							<ui-dropdown on-enter="" is-percent="true" is-dropdown-input="true" element-id="'giving-order-currency'" on-change-input="isValidOrder()" data-dropdown-data="allCurrenciesWithPercent" preselected-item="currency.selectedGivingCurrency" input-value="givingValue" placeholder="'Даю'"></ui-dropdown>
						</div>
					</div>
					<div class="row" ng-if="!isCreditInit || (isBorrowInit && isCreditInit)">
						<div class="col-xs-4 col-md-3 title-edit">
							Даю:
						</div>
						<div class="col-xs-8 col-md-9" ng-if="currency.selectedGivingCurrency">
							<ui-dropdown on-enter="" is-dropdown-input="true" element-id="'giving-order-currency'" on-change-input="isValidOrder()" data-dropdown-data="allCurrencies" preselected-item="currency.selectedGivingCurrency" input-value="givingValue" placeholder="'Даю'"></ui-dropdown>
						</div>
					</div>

					<div class="row" ng-if="!isCreditInit">

						<div class="col-xs-4 col-md-3 title-edit">
							Беру:
						</div>

						<div class="col-xs-8 col-md-9" ng-if="currency.selectedTakingCurrency">
							<ui-dropdown on-enter="" static="'%'" is-dropdown-input="true" element-id="'taking-order-currency'" on-change-input="isValidOrder()" data-dropdown-data="allCurrenciesWithPercent" preselected-item="currency.selectedTakingCurrency" input-value="takingValue" placeholder="'Беру'"></ui-dropdown>
						</div>
					</div>
					<div class="row" ng-hide="isBorrowInit && isCreditInit">
						<div class="col-xs-4 col-md-3 title-edit">
							Срок:
						</div>
						<div class="col-xs-8 col-md-9">
							<ui-dropdown on-enter="" static="'Дней'" element-id="'order-duration'" on-change-input="isValidOrder()" data-dropdown-data="durationTypes" preselected-item="selectedDurationType" input-value="durationValue" placeholder="'Срок'"></ui-dropdown>
						</div>
					</div>
					<div class="row" ng-hide="isBorrowInit && isCreditInit">
						<div class="col-xs-4 col-md-3 title-edit one-line">
							Под залог:
						</div>
						<div class="col-xs-8 col-md-9">
							<input type="checkbox" ng-model="isBond">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 title-edit">
							Комментарий:
						</div>
						<div class="col-xs-8 col-md-9">
							<textarea id="description" rows="3" cols="50" style="width: 100%; max-height: 100px; max-width: 100%; border-radius: 4px;" ng-model="message"> 
							</textarea>
						</div>
					</div>


					<div class="row" style="margin-top: 30px;">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button class="btn btn-danger btn-lg create-order-button" type="button" ng-click="goBack()">
								<span class="glyphicon glyphicon-chevron-left"></span> Отмена
							</button>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button class="btn btn-success btn-lg create-order-button" type="button" ng-click="createOrder()" ng-disabled="!createOrderButtonEnabled">
								Создать
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-1"></div>
		</div>
	</div>
</div>
