<div class="row" style="margin-bottom: 10px;">
	<div class="col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-10">
		<div ng-include src="'resources/html/order/short-search.html'"></div>

		<div class="container-fluid"  style="margin-top: -14px;">
			<div class="row" style="padding-bottom: 20px;" id="order-init">
				
				<div class="col-xs-4 col-md-4" style="">
					<button class="btn btn-default btn-lg center-block button-lg credit" type="button" ng-click="goToOrderCreating()" title="Создать заявку">
						<img src="resources/img/ecommerce-take-icon.png"  alt="Order"/>
					</button>
				</div>
				<div class="col-xs-4 col-md-4" style="">
					<button class="btn btn-default btn-lg center-block button-lg credit" type="button" ng-click="goToOrders()" title="Поиск заявок">
						<img src="resources/img/search.png" weight="10%" alt="Search"/>
					</button>
				</div>
				<div class="col-xs-4 col-md-4" style="">
					<button class="btn btn-default btn-lg center-block button-lg credit" type="button" ng-click="goToProfile()" title="Профиль">
						<img src="resources/img/account_and_control.png" alt="Profile"/>
					</button>
					
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row" style="padding-bottom: 5px;">
				<div class="col-xs-12 col-md-12">
					<p style="text-align:center" id="video-container" class="h_iframe">
						<img class="ratio" src="http://placehold.it/16x9"/>
						<iframe width="100%" height="100%" src="//www.youtube.com/embed/NYNz3RS91VI?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
