<div class="panel panel-default" style="border-width: 0; box-shadow: 0 1px 1px rgba(0,0,0,0);">
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="hidden-xs col-sm-1 col-md-1"></div>
				<div class="col-xs-12 col-sm-10 col-md-10" style="margin-bottom: 21px;">
					<div class="panel panel-default" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-color: whitesmoke;">
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<div class="hidden-xs col-sm-6 col-md-5">								
										<dropdown dropdown-title="'Заявки:'" d-style="'width: 60%;'" items="ordersOwn" do-select="selectOrdersOwn"></dropdown>
									</div>
									<div class="col-xs-12 hidden-sm hidden-md hidden-lg">								
										<dropdown dropdown-title="'Заявки:'" d-style="'width: 100%;'" items="ordersOwn" do-select="selectOrdersOwn"></dropdown>
									</div>
									<div class="hidden-xs col-sm-6 col-md-7">								
										<div class="navbar-right" ng-hide="isUserTable" style="margin-right: 35px; margin-top:7px">{{ordersCount}} заявок</div>
										<div class="navbar-right" ng-hide="!isUserTable" style="margin-right: 35px; margin-top:7px">{{userOrdersCount}} заявок</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs col-sm-1 col-md-1"></div>
			</div>
		</div>
	</div>

	<div class="panel-body" style="margin-top: -50px;">
		<div class="container-fluid" style="z-index: 1">
			<div class="row" ng-hide="isUserTable" style="margin-top: -21px;">
				<div class="hidden-xs col-sm-1 col-md-1"></div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<div class="panel panel-default" style="border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-color: whitesmoke;border-top-width: 0">
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row" style="margin-top: -5px;">
									<div class="col-xs-12 col-md-6">								
										<div class="btn-group btn-group-justified" data-toggle="buttons">
											<label class="btn btn-default credit-row" ng-class="{'active': (type === 'borrow')}">
												<input type="radio" name="year" value="0" ng-click="selectType('borrow')" checked="checked"><span>Дают</span><!--span class="hidden-md hidden-lg glyphicon glyphicon-arrow-left center"></span-->
											</label>
											<label class="btn btn-default exchange-row" ng-class="{'active': (type === 'exchange')}">
												<input type="radio" name="year" value="1" ng-click="selectType('exchange')"><span>Меняют</span><!--span class="hidden-md hidden-lg glyphicon glyphicon-transfer center"></span-->
											</label>
											<label class="btn btn-default borrow-row" ng-class="{'active': (type === 'credit')}">
												<input type="radio" name="year" value="2" ng-click="selectType('credit')"><span>Берут</span><!--span class="hidden-md hidden-lg glyphicon glyphicon-arrow-right center"></span-->
											</label>
										</div>
									</div>
									<div class="hidden-xs col-sm-12 col-md-4">
										<dropdown dropdown-title="'Сортировать:'" d-style="'width: 60%;'" items="sortedBy" do-select="sortTable"></dropdown>
									</div>
									<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
										<dropdown dropdown-title="'Сортировать:'" d-style="'width: 100%;'" items="sortedBy" do-select="sortTable"></dropdown>
									</div>
									<!--div class="col-md-4" ng-hide="type === 'exchange'"><div class="col-xs-3 col-md-3" style="cursor:pointer;"><input type="checkbox" ng-model="isBond"></div><div class="col-md-8">Залог</div></div-->
									<div class="hidden-xs col-sm-2 col-md-2">
										<button class="btn btn-primary max-width" type="button" ng-click="filterOrdersTable()"><span class="glyphicon glyphicon-search"></span></button>
									</div>
								</div>
								<div class="row" style="margin-top: 10px;">
									<div class="col-sm-3 col-md-3" ng-if="type === 'borrow' || type === 'exchange'">
										<ui-dropdown element-id="'giving-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Дают'"></ui-dropdown>
									</div>
									<div class="col-sm-3 col-md-3" ng-if="type === 'borrow'">								
										<ui-dropdown element-id="'taking-currency'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Берут'"></ui-dropdown>
									</div>

									<div class="col-sm-3 col-md-3" ng-if="type === 'credit' || type === 'exchange'">
										<ui-dropdown element-id="'taking-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Берут'"></ui-dropdown>
									</div>
									<div class="col-sm-3 col-md-3" ng-if="type === 'credit'">								
										<ui-dropdown element-id="'giving-currency'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Дают'"></ui-dropdown>
									</div>
									
									<div class="col-sm-3 col-md-4" ng-if="type === 'credit' || type === 'borrow'">	
										<ui-dropdown on-enter="" static="'Дней'" element-id="'order-duration'" on-change-input="onChangeInput()" data-dropdown-data="durationTypes" preselected-item="selectedDurationType" input-value="durationValue" placeholder="'Срок'"></ui-dropdown>
									</div>
									<div class="col-md-2" ng-hide="type === 'exchange'" style="margin-top: 5px;"><div class="col-xs-3 col-md-3" style="cursor:pointer;"><input type="checkbox" ng-model="isBond"></div><div class="col-md-8">Залог</div></div>
			
								</div>
								<div class="row">
									<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
										<button class="btn btn-primary max-width" type="button" ng-click="filterOrdersTable()"><span class="glyphicon glyphicon-search"></span></button>
									</div>
								</div>
								<!--div class="row">
									<div class="hidden-xs col-sm-4 col-md-4" style="">
										<dropdown dropdown-title="'Фильтровать:'" items="filterBy" do-select="selectOrdersFilter"></dropdown>
									</div>
									<div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="padding-bottom: 10px;z-index: 4;">
										<dropdown dropdown-title="'Фильтровать:'" d-style="'width: 100%;'" items="filterBy" do-select="selectOrdersFilter"></dropdown>
									</div>
									<div class="col-sm-5 col-md-5" style="padding-top: 5px; z-index: 3;" ng-if="filterItem === 'categories'">
										<input type="hidden" class="form-control" ui-select2="categorySelect2Options" ng-model="ordersSearchMap
											['orderCategories']" id="category" data-placeholder="Category" style="width: 100%; margin-top: -5px;" ng-change="isValidOrder()"/>
									</div>

									<div class="col-sm-5 col-md-5" style="padding-top: 5px;" ng-if="(filterItem === 'incomingCurrency') || (filterItem === 'outcomingCurrency')">
										<dropdown d-class="'max-width'" d-style="'margin-top: -5px;'" items="allCurrenciesDropdown" do-select="selectCurrency"></dropdown>
									</div>
									<div class="col-sm-5 col-md-5" style="padding-top: 5px;" ng-if="(filterItem === 'incomingAmount') || (filterItem === 'outcomingAmount')">
										<input	type="number" id="amount" class="form-control" style="margin-top: -5px;"/>
									</div>
									<div class="col-sm-2 col-md-2" style="z-index: 0;">
										<button class="btn btn-primary max-width" type="button" ng-click="filterOrdersTable()"><span class="glyphicon glyphicon-search"></span></button>
									</div>
								</div-->
								<!--div class="row" style="padding-top: 10px;">
									<div class="hidden-xs col-sm-12 col-md-6">
										<dropdown dropdown-title="'Сортировать:'" d-style="'width: 60%;'" items="sortedBy" do-select="sortTable"></dropdown>
									</div>
									<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
										<dropdown dropdown-title="'Сортировать:'" d-style="'width: 100%;'" items="sortedBy" do-select="sortTable"></dropdown>
									</div>
									<div class="col-md-4" ng-hide="type === 'exchange'"><div class="col-xs-3 col-md-3" style="cursor:pointer;"><input type="checkbox" ng-model="isBond"></div><div class="col-md-8">Залог</div></div>
									<div class="col-sm-2 col-md-2">
										<button class="btn btn-primary max-width" type="button" ng-click="filterOrdersTable()"><span class="glyphicon glyphicon-search"></span></button>
									</div>

								</div-->
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs col-sm-1 col-md-1"></div>
			</div>
			<div class="row" ng-hide="!isUserTable">
				<div class="hidden-xs col-sm-1 col-md-1"></div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<div style="margin-top: -20px; background-color: rgb(250, 250, 250); min-height: 100px; border: 1px solid #ddd; border-top-width: 0;" ng-hide="!emptyList">
						<div style="width: 100%;text-align: center; padding-top: 30px;" >Список пуст</div>
					</div>
					<div id="user-orders-table">
					</div>
				</div>
				<div class="hidden-xs col-sm-1 col-md-1"></div>
			</div>
			<div class="row" ng-hide="isUserTable">
				<div class="hidden-xs col-sm-1 col-md-1"></div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<div style="background-color: rgb(250, 250, 250); min-height: 100px; margin-top: -19px; border: 1px solid #ddd; border-top-width: 0;" ng-hide="!emptyList">
						<div style="width: 100%;text-align: center; padding-top: 40px;">Список пуст</div>
					</div>
					<div id="orders-table">
					</div>
				</div>
				<div class="hidden-xs col-sm-1 col-md-1"></div>
			</div>
		</div>
	</div>