<div class="panel-body" ng-controller="ShortSearchController">
	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-default" id="short-search">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row hidden-xs">
							<div class="col-sm-4 col-md-4" ng-if="type">
								<dropdown d-class="'max-width'" dropdown-title="" items="types" do-select="selectType"></dropdown>
							</div>
							<div class="col-sm-3 col-md-3" ng-if="type === 'Взять'">
								<ui-dropdown on-enter="search()" element-id="'giving-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Сумма'"></ui-dropdown>
							</div>
							<div class="col-sm-3 col-md-3" ng-if="type === 'Взять'">								
								<ui-dropdown on-enter="search()" element-id="'taking-currency'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Возврат'"></ui-dropdown>
							</div>
							
							<div class="col-sm-3 col-md-3" ng-if="type === 'Дать'">
								<ui-dropdown on-enter="search()" element-id="'taking-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Сумма'"></ui-dropdown>
							</div>
							<div class="col-sm-3 col-md-3" ng-if="type === 'Дать'">								
								<ui-dropdown on-enter="search()" element-id="'giving-currency'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Возврат'"></ui-dropdown>
							</div>
							
							<div class="col-sm-3 col-md-3" ng-if="type === 'Обменять'">
								<ui-dropdown on-enter="search()" element-id="'taking-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Дать'"></ui-dropdown>
							</div>
							<div class="col-sm-3 col-md-3" ng-if="type === 'Обменять'">
								<ui-dropdown on-enter="search()" element-id="'giving-currency'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Взять'"></ui-dropdown>
							</div>
							
							<div class="col-sm-2 col-md-2">
								<button class="btn btn-primary max-width" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						</div>
						<div class="row hidden-sm hidden-md hidden-lg">
							<div class="clearfix"> 
								<div class="btn-group inline pull-left" style="width: 100%;" data-toggle="buttons-checkbox"> 
									<!--input type="hidden" class="form-control" ui-select2="categorySelect2Options" ng-model="ordersSearchMap
												['orderCategories']" id="category" data-placeholder="Категории" style="width: 100%" ng-change="isValidOrder()"/-->
									<dropdown d-class="'max-width'" dropdown-title="" items="types" do-select="selectType"></dropdown>
									<!--ui-dropdown on-enter="search()" element-id="'taking-currency'" data-dropdown-data="allCurrencies" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Взять'"></ui-dropdown>
									<ui-dropdown on-enter="search()" element-id="'giving-currency'" data-dropdown-data="allCurrencies" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Дать'"></ui-dropdown-->
									<ui-dropdown on-enter="search()" element-id="'giving-currency-min'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Сумма'" ng-if="type === 'Взять'"></ui-dropdown>
									<ui-dropdown on-enter="search()" element-id="'taking-currency-min'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Возврат'" ng-if="type === 'Взять'"></ui-dropdown>
									
									<ui-dropdown on-enter="search()" element-id="'taking-currency-min'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Сумма'" ng-if="type === 'Дать'"></ui-dropdown>
									<ui-dropdown on-enter="search()" element-id="'giving-currency-min'" is-percent="true" data-dropdown-data="allCurrencies" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Возврат'" ng-if="type === 'Дать'"></ui-dropdown>
									
									<ui-dropdown on-enter="search()" element-id="'taking-currency-min'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedTakingCurrency" input-value="takingValue" placeholder="'Дать'" ng-if="type === 'Обменять'"></ui-dropdown>
									<ui-dropdown on-enter="search()" element-id="'giving-currency-min'" data-dropdown-data="allCurrenciesWithoutPersent" preselected-item="selectedGivingCurrency" input-value="givingValue" placeholder="'Взять'" ng-if="type === 'Обменять'"></ui-dropdown>
					
									<button class="btn btn-primary max-width" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
								</div> 
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
