<script id="responsesTmpl" type="text/x-angular-tmpl">
<li class="list-group-item">

	<div class="row">
		<div class="col-xs-3 col-md-2">
			<div class='jqx-rc-all'>
				<div style='margin-top: 3px;'>
					<a href="{{userurl}}"><img height="83" src="{{imgurl}}"/></a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-7" ng-if="{{isComment}}">

			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 3px;'>
					Comment: {{comment}}
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-7" ng-if="{{isAttributes}}">
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 6px;'>
					Name: {{name}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 6px;'>
					Mail: {{mail}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 6px;'>
					Phone: {{phone}}
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-md-3">
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 6px;'>

				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin-top: 12px;'>
					<div class="navbar-right">
						<button class="btn btn-success" type="button" ng-hide="{{status === true}}" ng-disabled="{{orderStatus !== 'OPENED'}}" ng-click="approve({{orderId}}, '{{userId}}')">
							Yes!
						</button>

						<bs-dropdown data-menu-type="button" order-id={{orderId}} ng-hide="{{(status !== true) || ((orderStatus === 'SUCCESS') || (orderStatus === 'NOT SUCCESS') || (orderStatus === 'ARBITRATION')) || (orderStatus === 'IN PROCESS') && (isApprovedResponse == false)}}"></bs-dropdown>
					</div>
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 6px;'>

				</div>
			</div>

		</div>
	</div>
</li>
</script>

<script id="userOrdersTableDetailTmpl" type="text/x-angular-tmpl">
	<ul style='margin-left: 30px;'>
	<li>Free description</li>
	<li>Responses list</li>
	</ul>
	<div class='order-description container-fluid'>
	<div class="row" style="margin: 5px;">
	<div class="col-xs-12 col-md-12">
	{{freeDescription}}
	</div>
	</div>
	</div>
	<div class='responses-list container-fluid'>

	<div class="row" style="margin: 1px;">
	<div class="col-xs-12 col-md-12">

	<div class="dropdown open" style="weight: 100%">
	<ul class="list-group" id="responses-list">
	#responses-list
	</ul>

	</div>
	</div>
	</div>
	</div>
</script>
<script id="ordersTableDetailTmpl" type="text/x-angular-tmpl">
	<ul style='margin-left: 30px;'>
	<li class='title'>Profile</li>
	<li>Free description</li>
	</ul>
	<div class='information container-fluid'>
	<div style='position: absolute; top: 10px; right: 40px; height: 18px;' ng-hide="{{isUserOrder === true}}">
	<div class="row">
	<div class='container-fluid' >
	<div class='col-xs-12 col-md-12'>
	<div class="col-xs-3 col-md-3">
	<button class="btn btn-default" type="button" ng-click="">
	Chat <span class="glyphicon glyphicon-pencil"></span>
	</button>
	</div>

	<div class="btn-group col-xs-8 col-md-8" style="padding-left: 35px;" ng-hide="false">
	<button class="btn btn-success" type="button" ng-click="addResponse({{orderId}})" style="width: 60%" ng-disabled="{{disabled === true}}">
	Yes!
	</button>

	<button class="btn btn-success" type="button" ng-click="openCommentDialog({{orderId}})"  ng-disabled="{{disabled === true}}">
	<span class="glyphicon glyphicon-cloud"></span>
	</button>
	</div>

	</div>
	</div>
	</div>
	</div>
	<div class="col-xs-3 col-md-3">
	<div class='jqx-rc-all' style='margin: 10px;'>
	<div style='margin-top: 10px;'>
	<a href="{{userurl}}"><img height="173" src="{{imgurl}}"/></a>
	</div>
	</div>
	</div>
	<div class="col-xs-3 col-md-3">
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	<b>Name: </b>{{name}}
	</div>
	</div>
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	<b>Mail: </b>{{mail}}
	</div>
	</div>
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	<b>Phone: </b>{{phone}}
	</div>
	</div>
	</div>
	<div class="col-xs-6 col-md-6">
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	<b>Languages: </b>{{languages}}
	</div>
	</div>
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	<b>Currencies: </b>{{currencies}}
	</div>
	</div>

	</div>
	</div>
	</div>
	<div class='order-description container-fluid'>
	<div style='position: absolute; top: 10px; right: 40px; height: 18px;' ng-hide="{{isUserOrder === true}}">
	<div class="row">
	<div class='container-fluid' >
	<div class='col-xs-12 col-md-12'>
	<div class="col-xs-3 col-md-3">
	<button class="btn btn-default" type="button" ng-click="">
	Chat <span class="glyphicon glyphicon-pencil"></span>
	</button>
	</div>

	<div class="btn-group col-xs-8 col-md-8" style="padding-left: 35px;" ng-hide="false">
	<button class="btn btn-success" type="button" ng-click="addResponse({{orderId}})" style="width: 60%" ng-disabled="{{disabled === true}}">
	Yes!
	</button>

	<button class="btn btn-success" type="button" ng-click="openCommentDialog({{orderId}})"  ng-disabled="{{disabled === true}}">
	<span class="glyphicon glyphicon-cloud"></span>
	</button>
	</div>

	</div>
	</div>
	</div>
	</div>
	<div class="row" style="margin: 5px;">
	<div class="col-xs-12 col-md-12">
	{{freeDescription}}
	</div>
	</div>
	</div>
</script>



