<script id="userOrdersTableDetailTmpl" type="text/x-angular-tmpl">
	<ul style='margin-left: 30px;'>
	<li>Free description</li>
	<li>Responses list</li>
	</ul>
	<div class='order-description container-fluid'>
	<div class="row" style="margin: 5px;">
	<div class="col-xs-12 col-md-12">
	{{freeDescription}}
	</div>
	</div>
	</div>
	<div class='responses-list container-fluid'>
	<div class="row" style="margin: 5px;">
	<div class="col-xs-12 col-md-12">
	<div class="dropdown open" style="weight: 100%">
	<ul class="list-group">


	<li class="list-group-item">

	<div class="row" style="margin: 5px;">
	<div class="col-xs-3 col-md-3">
	<div class='jqx-rc-all' style='margin: 10px;'>
	<div style='margin-top: 10px;'>
	<a href="{{userurl}}"><img height="53" src="{{imgurl}}"/></a>
	</div>
	</div>
	</div>
	<!--div class="col-xs-6 col-md-6" ng-hide="true">
	comment
	</div-->
	<div class="col-xs-6 col-md-6" ng-hide="comment">
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	Name: {{name}}
	</div>
	</div>
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	Mail: {{mail}}
	</div>
	</div>
	<div class='container-fluid'>
	<div class='col-xs-12 col-md-12' style='margin: 10px;'>
	Phone: {{phone}}
	</div>
	</div>
	</div>
	<div class="col-xs-3 col-md-3">
	<div class="navbar-right">
	<button class="btn btn-success" type="button" ng-click="">
	Yes!
	</button>
	</div>
	</div>
	</div>


	</li>






	<li class="list-group-item">Dapibus ac facilisis in</li>
	<li class="list-group-item">Morbi leo risus</li>
	<li class="list-group-item">Porta ac consectetur ac</li>
	<li class="list-group-item">Vestibulum at eros</li>
	<li class="list-group-item">Dapibus ac facilisis in</li>
	<li class="list-group-item">Morbi leo risus</li>
	<li class="list-group-item">Porta ac consectetur ac</li>
	<li class="list-group-item">Vestibulum at eros</li>
	<li class="list-group-item">Dapibus ac facilisis in</li>
	<li class="list-group-item">Morbi leo risus</li>
	<li class="list-group-item">Porta ac consectetur ac</li>
	<li class="list-group-item">Vestibulum at eros</li>
	</ul>







	<!--ul class="dropdown-menu">
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-12">
	<div style="border: 1px solid black;">
	<div class="currency-list-icon">
	<div class=" currency BITCOIN"></div>
	</div>
	<div class="text-center currency-list-label">BTC</div>
	</div>
	</div>
	</div>


	</li>
	<li>
	<a class="currency-list-item">
	<div class="currency-list-icon">
	<div class=" currency BITCOIN"></div>
	</div>
	<div class="text-center currency-list-label">BTC</div>
	</a>
	</li>
	<li>
	<a class="currency-list-item">
	<div class="currency-list-icon">
	<div class=" currency BITCOIN"></div>
	</div>
	<div class="text-center currency-list-label">BTC</div>
	</a>
	</li>
	</ul-->
	</div>
	</div>
	</div>
	</div>
</script>
<script id="ordersTableDetailTmpl" type="text/x-angular-tmpl">
<ul style='margin-left: 30px;'>
	<li class='title'>Profile</li>
	<li>Free description</li>
</ul>
<div class='information container-fluid'>
	<div class="row" style="margin: 5px;">
		<div class="col-xs-3 col-md-3">
			<div class='jqx-rc-all' style='margin: 10px;'>
				<div style='margin-top: 10px;'>
					<a href="{{userurl}}"><img height="173" src="{{imgurl}}"/></a>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-md-3">
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 10px;'>
					<b>Name: </b>{{name}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 10px;'>
					<b>Mail: </b>{{mail}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 10px;'>
					<b>Phone: </b>{{phone}}
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 10px;'>
					<b>Languages: </b>{{languages}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12' style='margin: 10px;'>
					<b>Currencies: </b>{{currencies}}
				</div>
			</div>
			<div class='container-fluid'>
				<div class='col-xs-12 col-md-12 navbar-right' style='margin: 10px;'>
				<div class="col-xs-3 col-md-3">
					<button class="btn btn-default" type="button" ng-click="">
						Chat <span class="glyphicon glyphicon-pencil"></span>
					</button>
				</div>
					
					<div class="btn-group col-xs-8 col-md-8">
						<button class="btn btn-success" type="button" ng-click="addResponse({{orderId}})" style="width: 60%">
							Yes!
						</button>

						<button class="btn btn-success" type="button" ng-click="openCommentDialog({{orderId}})">
							<span class="glyphicon glyphicon-cloud"></span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class='order-description container-fluid'>
	<div class="row" style="margin: 5px;">
		<div class="col-xs-12 col-md-12">
			{{freeDescription}}
		</div>
	</div>
</div>
</script>



